<nav >
  <div class="container-fluid">
    <a id="linkReserva" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Reservas Home</a>
    <br>
    <a id="linkCrearReserva" routerLink="./crear" routerLinkActive="active">Crear reserva</a>
    <br>
    <a id="linkListarReserva" routerLink="./listar" routerLinkActive="active">Listar reserva</a>
    <br>
    <a id="linkListarReserva" routerLink="./editar" routerLinkActive="active">Editar reserva</a>
  </div>
</nav>
<router-outlet></router-outlet>